.main-signin {
    min-height: 100vh;
    background: #1487cb;
    background: linear-gradient(to bottom, #1487cb 25%, #1f5cc0 100%);
}

.content-search {
    margin-top: -70px;
}

.main-signin .icon-loupe-yellow {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.main-signin h1 {
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
}

.main-signin .ipt-search-main {
    font-size: 20px;
    font-weight: 300;
    width: 100%;
    height: 60px;
    border-radius: 7px;
    text-align: center;
    padding: 10px 20px;
}

.form-signin {
    max-width: 400px;
    border-radius: 7px;
    padding: 40px 30px;
    background: #fff;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}

.form-signin h1 {
    color: #000;
    margin: 0 0 10px;
}

.logo {
    display: block;
    margin: -50px auto 30px;
    width: 250px;
}

.bouton {
    background: blue;
    color: white;
}