
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: large;
}

.container {
    padding: 15px 0 15px 0px;
}

.bg-custom2 {
    background: #164c92;
}

.trow {
    padding: 8px 0;
    margin: 0;
    border-bottom: 1px dashed #fff;
}


.thead {
    color: #002f7d;
    font-size: 16px;
    font-weight: 500;
    background: #86cbf5;
    padding: 10px 15px;
}

.list {
    background: #123d75;

}

.tbody {
    font-size: 15px;
    color: #fff;
    max-height: 390px;
    overflow-y: scroll;
}

.no-scroll {
    overflow-y: visible;
}

/*ol {
    counter-reset: listNumbering;
    list-style: none;
}

li {
    font-size: 1em;
    counter-increment: listNumbering;
}

li:before {
    content: counter(listNumbering, decimal-leading-zero) '.';
    font-size: 2em;
}*/

.color {
    color: white;
}

.color-2 {
    color: #007bff;
}

.number {
    padding-top: 0px;
}

{
    display: none
;
    background: #164c92
;
    padding: 50px 0 70px
;
}

.bloc-titre {
    color: #fff;
    font-weight: 300;
}

.bloc-titre img {
    width: 80px;
}

.bloc-titre h3 {
    margin: 0;
    font-weight: 300;
}

.listing-details {
    background: #123d75;
}

.listing-details .thead {
    color: #002f7d;
    font-size: 16px;
    font-weight: 500;
    background: #86cbf5;
    padding: 10px 15px;
}

.listing-details .tbody {
    font-size: 15px;
    color: #fff;
    max-height: 390px;
    overflow-y: scroll;
}

.listing-details .tbody .row {
    padding: 8px 0;
    margin: 0;
    border-bottom: 1px dashed #fff;
}

.listing-details .tbody .row:last-child {
    border: none;
}

.listing-details.listing-history a {
    color: #fff;
    text-decoration: none;
}

.listing-details.listing-history a:hover {
    text-decoration: underline;
}

.bloc-recommandations {
    color: #fff;
    border: 1px solid #86cbf5;
    padding: 30px 40px;
}

.bloc-recommandations h4 {
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.bloc-recommandations ul {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;
}

.bloc-recommandations ul li {
    position: relative;
    padding-left: 70px;
    margin-bottom: 30px;
}

.bloc-recommandations ul li:last-child {
    margin: 0;
}

.bloc-recommandations ul li .number {
    font-size: 65px;
    color: #86cbf5;
    font-weight: 400;
    position: absolute;
    top: 0;
    left: 0;
    line-height: 0.8;
}

.bloc-recommandations ul li p.titre-reco {
    font-size: 18px;
    color: #86cbf5;
}

.bloc-recommandations ul li p {
    font-size: 15px;
    color: #fff;
    margin: 0;
}

