.logo {
    text-align: center;
    padding-left: 50vh;
    width: 60%;

}


.container-fluid {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    height: 90vh;
    background: linear-gradient(to bottom, #1487CB 25%, #1F5CC0 100%);


}


h1 {

    font-family: inherit;
    color: #fff;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
}

input {

    line-height: 30px;
    border-radius: 1%;
    width: 500vh;

}
.my-input{
    width: 130vh;
    height: 40vh;

}

input.placeholder {
    text-align: center;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: large;

}

.loupe {
    margin-top: 100px;
}

.p {
    background: black;
}

.colored {
    color: black;
}