#main {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, #1487CB 25%, #1F5CC0 100%);
    color: white;
}

.col first {
    text-align: left;
    margin-top: 10px;;
}

header {
    background-color: white;
}

.search {
    margin-top: auto;
    padding-top: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: large;
}

h2 {
    size: 10px;
}

.img1 {
    width: 100px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.img2 {
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.img3 {
    width: 100px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.logo2 {
    width: 100px;
    height: 100px;
}

.col4 > .card {
    zoom: initial;
    background: blue;

}


.bg-custom-1 {
    background: transparent;
    background: rgba(0, 0, 0, 0.25);

}

.inner {
    overflow: hidden;
    transition: all 1.5s ease;
}

.inner:hover {
    color: #fff;
    text-align: center;
    padding: 40px 50px 30px;
    background: rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    transition: all ease-in-out 0.25s;
    cursor: pointer;
}

.card-title > h2 {
    font-size: 80px !important;

    font-weight: 300 !important;
}

.card-footer {
    background: linear-gradient(to bottom, #1487CB 25%, #1F5CC0 100%);;
}

.btn-primary {
    background: blue;
}

.card-title {
    font-size: 80px;
    font-weight: 300;
    line-height: 1;

}

.sizing {
    font-size: 26px;
    font-weight: 300;
    line-height: 1.2;
}


.input {
    background: url("../images/icon-search.svg") no-repeat top 5px left 2px;
    background-size: 30px 30px;
    padding-left: 15px;
    text-align: center;
    height: 2em;
    width: 100vh;
}


body {
    background: #1F5CC0;
}


.col first {
    text-align: left;
    margin-top: 10px;
}


.search {
    margin-top: auto;
    padding-top: 0;
}

.footer {
    position: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    font-size: large;
    padding-right: 300px;
}

h2 {
    size: 10px;

}

.container1 {
    background-image: url(../images/weakspot-mesuer-empreinte-web.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    height: 300px;
    width: auto;
}

.container2 {
    background-image: url(../images/weakspot-mesuer-empreinte-web2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    color: #fff;


}

.row1 {

    height: 180px;
    width: 100%;
    margin-left: auto;

}

.row2 {
    height: 300px;
}

.rowjaune {

    text-align: center;
}

.text {
    margin-inside: 30px;

    padding-top: 89px;
}

.card-deck {
    background: white;
}


body {
    background-color: #1F5CC0;
}


.my-button {
    color: white;
    background-color: #1F5CC0;
}

.white-b {
    color: black;
    background-color: white;
}

.md-unstyled-image img {
    max-width: 100%;
    width: auto;
    height: auto !important; /* needs to be important because md-card also sets it that way */
}

.no-padding {
    padding: 0;
}